/* From HTML course */
/* 
h2{
    border: 1px solid darkgrey;
 }
#birds{
    background-color: cadetblue;
}
.highlight{
    background-color: aliceblue;
 }
span{
     background-color: lawngreen;
 } */
    
 body{
     margin: 0px;
 }
 .container{
     border: 6px solid purple;
     /* inline-flex only takes up what is needed for the children */
     /* Flex takes up the entire line */
     display: flex; 
     flex-wrap: wrap;
     flex-flow: row-reverse;
     

 }
 .flex-item{
     color: white;
     font-size: 1.5rem;
     padding: 1rem;
     text-align: center;
 }
 .item-1{
    background-color: red;
 }
 .item-2{
     background-color: orangered;
}
.item-3{
     background-color: orange;
}
.item-4{
     background-color: yellow;
}
.item-5{
     background-color: yellowgreen;
}
.item-6{
     background-color: blue;
}
.item-7{
     background-color: blueviolet;
}
.item-8{
     background-color: purple;
}
.item-9{
     background-color: violet;
}